<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./app.css">

    <title> Rodco: Síganos en facebook </title>
</head>
  
  <body>
  
  <div id="container" class="container"> 

  <div class="header">

     <img src="https://gallery.mailchimp.com/5bd6a13057cacf081203cf3ef/images/5625a066-5105-4dd0-acb8-3c50ba8078c0.png" alt="Logo Rodco">

  </div>


  <div class="intro">
    <div class="title title-big">{{Name}},</div>
    <p class="text">Le compartimos su reporte de compras del programa Rodco360 - en este encontrara el estado actual segun su negociacion.</p>

  </div>
    
  <div class="goal">
    
    <div class="col col__row">
      
      <div class="heading"> Negociación de Soldadura </div>
      <div class="heading-reponse">{{ Meta }} Kg / Mes</div>

      <div class="heading"> Compras a la fecha </div>
      <div class="heading-reponse">{{ CantidadKilos }} Kg</div>
    </div>
    
    <div class="col col__row">
      <div class="heading"> Familias Compradas a la fecha</div>
      
         <div class="branding">

        {{#each Familias}}

          <img src="http://image.rodcocr.com/email_rodco360dynamic/{{@key}}.png"/>

        {{/each}}
      
      </div>
    </div>

    <div class="clear"></div>

  </div>
  
 

  <div class="sugerencias">
    <div class="title">
      Sugerencias de compra
    </div>

    <p class="text">Las siguientes sugerencias lo llevaran a alcanzar la meta de negociacion del programa Rodco 360 este mes.</p>

   <div class="goal goal__inverted">
      
      <div class="col col__row">
        
        <div class="heading"> Soldadura Hilco </div>
        <div class="heading-reponse">Pendiente {{ PendingKilos }} Kg</div>

      </div>
      
      <div class="col col__row">
        <div class="heading"> Productos Pendientes</div>
        <div class="branding">

        {{#each MarcasPendientes}}

          <img src="http://image.rodcocr.com/email_rodco360dynamic/{{this}}.png"/>

        {{/each}}
          
        
      </div>

    </div>

    <div class="clear"></div>



  </div>



  <div class="vendedor">
    <div class="title">Llame a su agente hoy</div>
    <p class="text">Recuerde que puede programar su pedidos en el futuro - se los facturamos cuando usted indique</p>

    <div class="box">
    
            
     <div class="col col__small">
            <img src="https://s3.amazonaws.com/rodcocr.com/logos-mailling/Cali.png" alt="Logo Rodco">
    </div>


          <div class="col col__large col__space vendedor-info">
              <p class="name"> <strong>Carlos Sanchez</strong></span></p>
                  <p>Teléfono: 88 88-88 88<br>
                  Email: <a href="#">csanches@rodcocr.com</a><br>
                  

          </div>

          <div class="clear"></div>
          <p class="text callcenter">Llame hoy a nuestro centro de ventas al <strong>22 40 - 99 66</strong></p>
</p>
  </div>


    <div class="reporte">
    
      <div class="title">Reporte de Compras</div>
      <p class="text">Aqui encontrara la lista de compras de cada uno de los productos participantes.</p>
        

        <ul class="">        
          {{#each Familias}}
        
            <li class="familia">{{@key}}</li>   
                
              {{#each this}}
                     
              <li class="producto">
                <span class="cantidad">{{ this.ProductoCantidad__c }}</span>
                <span class="nombre">
                  
                  {{#with this.Producto__r}}
                        {{ Name }}         
                    {{/with}}

                </span>
              </li>          
                        
              {{/each}}
              
        {{/each}}
          </ul>


    </div>


  <div class="footer">
      
   <div class=" col__row logo">

        <img src="https://gallery.mailchimp.com/5bd6a13057cacf081203cf3ef/images/5625a066-5105-4dd0-acb8-3c50ba8078c0.png" alt="Logo Rodco">
  
      </div>

      <div class="col col__row details">
        Teléfono: 2240-9966<br>
        Frente al antiguo Durman Esquivel, Calle Blancos, Goicoechea<br>
        <a href="http://rodcocr.com" target="blank">rodcocr.com</a><br>
        <a href="http://facebook.com/rodcocr" alt="Ingreso" target="blank">Facebook</a><br>
        <em>Trabajar juntos es alcanzar el éxito</em>
        </div>

   
  </div>


  </body>
</html>